<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		<meta http-equiv="refresh" content="10" >
		<title>Smart House Temperature Detection</title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" href="
/static/style.css"">
		

	</head>


	<body>
		
			<div class="topnav" id="myTopnav">
				  <a class="logo" href="#home">Sm4rt hOme</a>
				  <a class="nav" href="/motion/">Motion Sensor</a>
				  <a class="nav" href="/temperature/">Temperature</a>
				  <a class="nav" href="/light/">Light</a>
				  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
				</div>
			<div class="forecast-table">
				
				<div class="forecast-header">
					<div class="day">{{ weekday }}</div>
					<div class="date">{{ monthdate }}</div>
				</div> <!-- .forecast-header -->
				<div class="forecast-content">
					<div class="location">Location:Home</div>
					<h1>The current temperature is</h1>
					<div class="degree">
						<div class="num">{{ temp }}<sup>o</sup>C</div>	
					</div>
				</div>	
		
			</div>
			
			<footer>
					<p>&copy copyright 2017 www.parkyeri.com. All rights reserved.</p>
			</footer>
		
			<script>
			function myFunction() {
			    var x = document.getElementById("myTopnav");
			    if (x.className === "topnav") {
			        x.className += " responsive";
			    } else {
			        x.className = "topnav";
			    }
			}
			</script>
		
		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/app.js"></script>
		
	</body>

</html>
