<!doctype html>
<html>
<head>
<title>Smart House</title>
<link rel="stylesheet" href="/static/style.css" />
<meta name="viewport" content="width=device-width, user-scalable=no" />
</head>
<body>
	<div class="topnav" id="myTopnav">
	  <a class="logo" href="#home">Sm4rt hOme</a>
	  <a class="nav" href="#news">Motion Sensor</a>
	  <a class="nav" href="/temperature/">Temperature</a>
	  <a class="nav" href="/light/">Light</a>
	  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
	</div>

	<h1>temperature management.</h1>

	<div class="box">
		<div class="on"><a href="/red/">I am feeling Hot</a></div>
		<div class="off"><a href="/blue/">I am feeling Cold</a></div>
	</div>

	<footer>
		<p>&copy copyright 2017 www.parkyeri.com. All rights reserved.</p>
	</footer>
		
	<script>
	function myFunction() {
	    var x = document.getElementById("myTopnav");
	    if (x.className === "topnav") {
	        x.className += " responsive";
	    } else {
	        x.className = "topnav";
	    }
	}
	</script>

</body>
</html>

